.inicio {
    max-width: 100vw;
    height: 100vh;
    min-height: 50rem;
    background-image: url(/img/banner.png);
    background-size: 1900px;
    background-position: -2rem -13rem;
    background-repeat: no-repeat;

    padding: 0 12rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 3rem;

    .bgBlack {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        background: black;
        opacity: 0.4;
    }

    .display {
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;

        color: white;
        font-family: 'ubuntu', sans-serif;

        p {
            font-size: 2.7rem;
        }

        h1 {
            font-size: 7.5rem;
        }

        span {
            font-size: 4rem;

            &.typing {
                margin-left: 1rem;
            }
        }

    }

    button {
        z-index: 1;
        background-color: #4169e1;
        color: white;
        font-size: 2.5rem;
        font-weight: 600;
        padding: 1.2rem 3.6rem;
        border-radius: .6rem;
        border: none;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: #233d8b;
            cursor: pointer;
        }
    }
}

@media (max-width: 2560px) {
    .inicio {
        max-width: 100vw;
        background-size: cover;
        background-position: center;

        .bgBlack {
            position: absolute;
            top: 0;
            left: 0;
            max-width: 100vw;
            max-height: 100vh;
            background: black;
            opacity: 0.4;
        }
    }
}

@media (max-width: 1024px) {
    .inicio {
        background-position: -25rem -15rem;

        .display {
            justify-content: center;

            h1 {
                width: 58vw;
                font-size: clamp(3rem, 3rem + 4vw, 5rem);
            }

            span {
                font-size: 3rem;
            }
        }
    }
}

@media (max-width: 768px) {
    .inicio {
        padding: 0 5rem;
        background-position: -45rem -15rem;

        .display {
            justify-content: center;

            h1 {
                width: 58vw;
                font-size: clamp(3rem, 3rem + 4vw, 4rem);
            }

            span {
                font-size: 3rem;
            }
        }
    }
}

@media (max-width: 425px) {
    .inicio {
        padding: 0 5rem;
        background-position: -80rem -5rem;
        justify-content: flex-end;
        padding-bottom: 13rem;
        
        align-items: center;

        .display {
            align-items: center;
            gap: 1rem;

            p {
                text-align: center;
            }

            h1 {
                width: 58vw;
                font-size: clamp(3rem, 3rem + 4vw, 4rem);
                text-align: center;
            }

            span {
                width: 35rem;
                height: 6rem;
                text-align: center;
                font-size: 3rem;
                margin-bottom: 3rem;
            }
        }
    }
}