.inicio {
    max-width: 100vw;
    height: 100vh;
    min-height: 50rem;
    background-image: url(/img/banner.png);
    background-size: 1900px;
    background-position: -2rem -13rem;
    background-repeat: no-repeat;

    padding: 0 12rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 3rem;

    .bgBlack {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: black;
        opacity: 0.4;
    }

    .display {
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;

        color: white;
        font-family: 'ubuntu', sans-serif;

        p {
            font-size: 2.7rem;
        }

        h1 {
            font-size: 7.5rem;
        }

        span {
            font-size: 4rem;
        }

        .typing {
            margin-left: 1rem;
        }
    }

    button {
        z-index: 1;
        background-color: #4169e1;
        color: white;
        font-size: 2.5rem;
        font-weight: 600;
        padding: 1.2rem 3.6rem;
        border-radius: .6rem;
        border: none;

    }
}
