header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 100vw;

    padding: 2rem;

    font-family: "ubuntu", sans-serif;

    h3 {
        font-size: 5rem;
        color: white;

        &::after {
            content: "fólio";
            color: #4169e1;
            width: 3rem;
        }
    }

    .nav {
        ul {
            display: flex;
            flex-direction: row;
            gap: 3rem;

            li {
                font-size: 2rem;
                list-style: none;
            }
        }
    }
}
